.top-container{
    background-color: aqua;
    width: 100%;
    height: 100vh;
}

.sun{
    position: absolute;
    left: 8rem;
    width: 20%
}

.cloud{
    position: absolute;
    right: 10rem;
    width: 20%;
}

.bird1{
    position: absolute;
    top: 3rem;
    right: 23rem;
    width: 15%;
}

.bird2{
    position: absolute;
    top: 10rem;
    right: 20rem;
    width: 10%;
}

.sea{
    position: absolute;
    bottom: 0rem;
    width: 100%;
}

.fish-1{
    position: absolute;
    bottom: 10rem;
    left: 4rem;
    width: 15%;
}

.fish-2{
    position: absolute;
    bottom: 8rem;
    left: 10rem;
    width: 15%;
}

.land{
    position: absolute;
    bottom: 0rem;
    left: 20rem;
    width: 45%;
}

.luffy{
    position: absolute;
    bottom: 0rem;
    right: 30rem;
    width: 20%;
}

.hey{
    position: absolute;
    bottom: 8rem;
    right: 15rem;
    width: 20%;
}

@media screen and (max-width : 576px) {
    .land{
        position: absolute;
        bottom: 0rem;
        left: 5rem;
        width: 80%;
    }

    .luffy{
        position: absolute;
        bottom: 0rem;
        right: 7rem;
        width: 35%;
    }

    .hey{
        position: absolute;
        bottom: 6rem;
        right: 2rem;
        width: 25%;
    }

    .fish-1{
        position: absolute;
        bottom: 3rem;
        left: 3rem;
        width: 15%;
    }
    
    .fish-2{
        position: absolute;
        bottom: 2rem;
        left: 5rem;
        width: 15%;
    }

    .sun{
        position: absolute;
        left: 0rem;
        width: 50%
    }

    .cloud{
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 45%;
    }

    .bird1{
        position: absolute;
        top: 9rem;
        right: 12rem;
        width: 25%;
    }
    
    .bird2{
        position: absolute;
        top: 13rem;
        right: 8rem;
        width: 20%;
    }
}