body{
    padding: 0%;
    margin: 0%;
    border: 0%;
}

.home{
    position: fixed;
    left: 0rem;
    top: 0rem;
    width: 5%;
}

.top-container{
    background-color: aqua;
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 0%;
    margin: 0%;
    border: 0%;
}

.sun{
    position: absolute;
    left: 8rem;
    width: 20%
}

.cloud{
    position: absolute;
    right: 10rem;
    width: 20%;
}

.bird-1{
    position: absolute;
    top: 3rem;
    right: 23rem;
    width: 15%;
}

.bird-2{
    position: absolute;
    top: 10rem;
    right: 20rem;
    width: 10%;
}

.sea{
    position: absolute;
    bottom: 0rem;
    width: 100%;
}

.fish-1{
    position: absolute;
    bottom: 10rem;
    left: 4rem;
    width: 15%;
}

.fish-2{
    position: absolute;
    bottom: 8rem;
    left: 10rem;
    width: 15%;
}

.land{
    position: absolute;
    bottom: 0rem;
    left: 20rem;
    width: 45%;
}

.luffy{
    position: absolute;
    bottom: 0rem;
    right: 30rem;
    width: 20%;
}

.hey{
    position: absolute;
    bottom: 8rem;
    right: 15rem;
    width: 20%;
}

.mid-container{
    background-color: #FFEBB4;
    position: relative;
    padding: 0%;
    margin: 0%;
    border: 0%;
    width: 100vw;
    height: 100vh;
}

.sun-mid{
    position: absolute;
    top: 0rem;
    right: 10rem;
    width: 25%;
}

.akatsuki-1{
    position: absolute;
    top: 0rem;
    left: 25rem;
    width: 15%;
}

.akatsuki-2{
    position: absolute;
    top: 8rem;
    left: 35rem;
    width: 10%;
}

.grass{
    position: absolute;
    bottom: 0rem;
    width: 100%;
}

.tree{
    position: absolute;
    bottom: 0rem;
    width: 30%;
}

.naruto{
    position: absolute;
    bottom: 0rem;
    left: 35rem;
    width: 15%;
}

.kakashi{
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    width: 20%;
}

.chat{
    position: absolute;
    bottom: 15rem;
    right: 28.5rem;
    width: 17%;
}

.second-text{
    bottom: 20.5rem;
    right: 30rem;
}

.text{
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
}

.bottom-container{
    background-color: #443C68;
    position: relative;
    padding: 0%;
    margin: 0%;
    border: 0%;
    width: 100vw;
    height: 100vh;
}

.goku{
    position: absolute;
    bottom: 0rem;
    left: 15rem;
    width: 30%;
}

.aot{
    position: absolute;
    top: 0rem;
    right: 0rem;
    width: 30%;
}

.shinchan{
    position: absolute;
    bottom: 0rem;
    right: 28rem;
    width: 30%;
}

.night-land{
    position: absolute;
    bottom: 0rem;
    width: 100%;
}

.moon{
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 10%;
}

.banner{
    position: absolute;
    bottom: 10rem;
    right: 20.5rem;
    width: 45%;
}

.third-text{
    position: absolute;
    top: 7rem;
    left: 32rem;
}

@media screen and (max-width : 576px) {
    .land{
        position: absolute;
        bottom: 0rem;
        left: 5rem;
        width: 80%;
    }

    .luffy{
        position: absolute;
        bottom: 0rem;
        right: 7rem;
        width: 35%;
    }

    .hey{
        position: absolute;
        bottom: 6rem;
        right: 2rem;
        width: 25%;
    }

    .fish-1{
        position: absolute;
        bottom: 3rem;
        left: 3rem;
        width: 15%;
    }
    
    .fish-2{
        position: absolute;
        bottom: 2rem;
        left: 5rem;
        width: 15%;
    }

    .sun{
        position: absolute;
        left: 0rem;
        width: 50%
    }

    .cloud{
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 45%;
    }

    .bird-1{
        position: absolute;
        top: 9rem;
        right: 12rem;
        width: 25%;
    }
    
    .bird-2{
        position: absolute;
        top: 13rem;
        right: 8rem;
        width: 20%;
    }

    .tree{
        position: absolute;
        bottom: 0rem;
        width: 50%;
    }

    .akatsuki-1{
        position: absolute;
        top: 5rem;
        left: 5rem;
        width: 30%;
    }
    
    .akatsuki-2{
        position: absolute;
        top: 13rem;
        left: 8rem;
        width: 25%;
    }

    .sun-mid{
        position: absolute;
        top: 0rem;
        right: 0rem;
        width: 50%;
    }

    .naruto{
        position: absolute;
        bottom: 0rem;
        left: 11rem;
        width: 20%;
    }

    .kakashi{
        position: absolute;
        bottom: 0rem;
        right: 0rem;
        width: 30%;
    }

    .chat{
        position: absolute;
        bottom: 8rem;
        right: 8.5rem;
        width: 19%;
    }

    .second-text{
        font-family: 'Josefin Sans', sans-serif;
        position: absolute;
        bottom: 10rem;
        right: 9rem;
        font-size: small;
    }

    .home{
        position: fixed;
        left: 0rem;
        top: 0rem;
        width: 20%;
    }
    .goku{
        position: absolute;
        bottom: 0rem;
        left: 5rem;
        width: 40%;
    }

    .shinchan{
        position: absolute;
        bottom: 0rem;
        right: 5rem;
        width: 40%;
    }

    .aot{
        position: absolute;
        top: 0rem;
        right: 0rem;
        width: 40%;
    }

    .third-text{
        position: absolute;
        top: 24rem;
        left: 8rem;
        font-size: medium;
    }

    .banner{
        position: absolute;
        bottom: 5.5rem;
        right: 3.5rem;
        width: 70%;
    }
}